body{ 
    background-color: antiquewhite;
} 
.calculator{
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    width: 410px;  
} 
.calculator-screen{ 
    width: 100%;
    height: 100px;
    background-color: #252525;
    color: #fff;
    text-align: right;
    font-size: 36px;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
}
.calculator-keys{
    width: 100%;
}
.row{
    display: flex;
}
button{
    height: 80px;
    background-color: gray;
    border: 1px solid #000;
    font-size: 32px;
    color: #fff;
    width: 25%;
    outline: none; 
}
.all-clear, .zero-btn{
    width: 50%;
}
.operator,.equal-sign{
    background-color: orange;
}
button:hover{
    background-color: darkgray;
}
.operator:hover, .equal-sign:hover{
    background-color: darkorange;
}
.zero-btn{
    border-radius: 0px 0px 0px 10px;
}
.equal-sign{
    border-radius: 0px 0px 10px 0px;
}
